.tab-container {
  display: flex;
  flex-direction: column;
}

.app-bar {
    flex-direction: row;
    justify-content: center;
}

.tabs {
  display: flex;
  flex: auto;
  position: relative;
  flex-direction: row;
  background-color: #d9dbf2;
  padding: 10px;
}

.tab {
  margin-left: 50px;
  margin-right: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  font-weight: normal;
}

.tab.active {
  padding: 8px;
  border-bottom: 4px solid black;
  font-weight: bold;
}

.tab-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 39.33px; 
}

.tab-text{
 padding-left:'0.3em';
 color: #d9dbf2;
}
