.tab-container {
}

.tabs {
  display: flex;
  flex: auto;
  position: relative;
  flex-direction: row;
  background-color: #f0f0f0;
  padding: 10px;
}

.tab {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
  font-weight: normal;
}

.tab.active {
  border-bottom: 4px solid #5e66f9;
  margin-bottom: 20px;
  font-weight: bold;
}

.tab-content {
  position: relative;
  padding: 20px;
}

.tab-text{
 padding-left:'0.3em';
}
